body{
  background: rgb(204,242,244);
  background: linear-gradient(180deg, rgba(204,242,244,1) 12%, rgba(227,246,247,1) 41%, rgba(244,249,249,1) 85%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.navbar{
  background-color: #11698E;
  color: aliceblue;
  height: 100px;
  
  display:flex ;
  top: 0px;
  backdrop-filter: blur(15px);
  justify-content: space-between;
  align-items: center;
  padding-left: 1%;
  padding-right: 5%;
  
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
 
}
.img-nav{
  width: auto;
  height: 74px;
  margin-left: 80px;
  min-width: 40px;
  min-height: 37px;
  
}

.navbar-brand{
  justify-content: space-between;
  align-items: center;
  width: 100%;

}
.dropdown{
  margin-right: 80px;
}



.right{
  
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.10);
  color: #11698E;
  backdrop-filter: blur(15px);
  
  margin-top: 10px;
  position: absolute;
  right: 20px;
  width: 46%;
  
  min-width: 40%;
  height: 80%;
  min-height: 15rem;

  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
  bottom: 20px;
  
  
  
}

.left{
  
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.10);
  color: #11698E;
  backdrop-filter: blur(15px);
  
  margin-top: 10px;
  position: absolute;
  left: 20px;
  width: 46%;
  
  min-width: 40%;
  height: 80%;
  min-height: 15rem;

  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
  bottom: 20px;
  
  h4{
      position: relative;
      left: 25px;
      top : 50px;
  }
  
  
}
.bn1{
  position: relative;
  top: 500px;
  left: 100px;
}


.note{
  border: 1px solid rgba(255, 255, 255, .25);
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.282);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.10);
  justify-content: space-around;
  align-items: center ;
  display: flex;
  backdrop-filter: blur(15px);
  height: 75px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
  margin-left: 10px;
  height: 50px;
}

.bn1 {

  max-height: 50px;
  max-width: 150px;
  display: inline-block;
  padding: 0.6em 1.7em;
  border: 0.1em solid #11698E;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #11698E;
  text-align: center;
  transition: all 0.2s;
  width: 200px;
  margin-bottom: 50px;
  margin-top: 35px;
  
}

.bn1:hover {
  color: #11698E;
  background-color: #ffffff;
}

.note{
  justify-content: space-between;
  align-items: center;
  h3{
      position: relative;
      top: 35%;

  }
  h4{
      position: relative;
      top: 35px; 
      text-align: center;
  }
  
}

.btn41-43 {
  padding: 10px 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.btn-42 {
  border: 2px solid rgb(255, 255, 255);
  z-index: 1;
  color: white;
}

.btn-42:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: rgb(255, 255, 255);
  transition: all 0.3s ease;
}

.btn-42:hover {
  color: rgb(0, 0, 0);
}

.btn-42:hover:after {
  top: 0;
  height: 100%;
}

.btn-42:active {
  top: 2px;
}

.note-countainer{

  padding-top: 2%;
}


.note-text{
  display: flex;
  padding-bottom: 10%;
  padding-left: 3%;
  padding-right: 3%;
  
}
hr{
  width: 90%;
  
}  


.button_holder{
  width: 25%;
  display: flex;
  padding-bottom: 10%;
  padding-left: 5.5%;
  padding-right: 3%;
  justify-content: space-around;
}


.info-holder{
  
  
  border: 1px solid black;
  width: 90%;
  height: 73%;
  margin-left: 5%;
  
  
}
